<?php
return [
    'backend' => [
        'frontName' => '{{BACKEND_FRONTNAME}}'
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '{{CRYPT_KEY}}'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '{{DB_HOST}}',
                'dbname' => '{{DB_NAME}}',
                'username' => '{{DB_USER}}',
                'password' => '{{DB_PASSWORD}}',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8mb4;',
                'active' => '1',
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => '{{MAGE_MODE}}',
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => '{{REDIS_HOST}}',
            'port' => '{{REDIS_PORT}}',
            'password' => '{{REDIS_PASSWORD}}',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '2',
            'compression_threshold' => '2048',
            'compression_library' => 'lz4',
            'log_level' => '3',
            'max_concurrency' => '20',
            'break_after_frontend' => '15',
            'break_after_adminhtml' => '60',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '0',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000',
            'prefix' => 'sess_',
            'sentinel_master' => '',
            'sentinel_servers' => '',
            'sentinel_connect_retries' => '5',
            'sentinel_verify_master' => '0'
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => ''
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'google_product' => 1,
        'full_page' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'translate' => 1,
        'config_webservice' => 1,
        'vertex' => 1
    ],
    'downloadable_domains' => [
        '{{DOWNLOADABLE_DOMAIN}}'
    ],
    'install' => [
        'date' => '{{INSTALL_DATE}}'
    ],
    'remote_storage' => [
        'driver' => 'file'
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '{{CACHE_ID_PREFIX}}',
                'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                'backend_options' => [
                    'server' => '{{REDIS_HOST}}',
                    'database' => '0',
                    'port' => '{{REDIS_PORT}}',
                    'password' => '{{REDIS_PASSWORD}}',
                    'compress_data' => '1',
                    'compression_lib' => '',
                    'use_lua' => false
                ]
            ],
            'page_cache' => [
                'id_prefix' => '{{CACHE_ID_PREFIX}}',
                'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                'backend_options' => [
                    'server' => '{{REDIS_HOST}}',
                    'port' => '{{REDIS_PORT}}',
                    'password' => '{{REDIS_PASSWORD}}',
                    'database' => '1',
                    'compress_data' => '1',
                    'use_lua' => 1,
                    'timeout' => '2.5',
                    'read_timeout' => '2.5'
                ]
            ]
        ],
        'allow_parallel_generation' => false,
        'graphql' => [
            'id_salt' => '{{GRAPHQL_ID_SALT}}'
        ]
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'config' => [
        'async' => 0
    ],
    'system' => [
        'stores' => [
            'nl' => [
                'web' => [
                    'unsecure' => [
                        'base_url' => 'http://uniekglas.local/'
                    ],
                    'secure' => [
                        'base_url' => 'http://uniekglas.local/',
                        'use_in_frontend' => '0',
                        'use_in_adminhtml' => '0'
                    ],
                    'url' => [
                        'redirect_to_base' => '0'
                    ]
                ]
            ]
        ]
    ]
];
