BACKEND_FRONTNAME=beheer
CRYPT_KEY=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
MAGE_MODE=developer
REDIS_HOST=
REDIS_PORT=6380
REDIS_PASSWORD=
DOWNLOADABLE_DOMAIN=uniekglas.nl
INSTALL_DATE=Sun, 12 Apr 2020 11:36:07 +0000
CACHE_ID_PREFIX=0af_
GRAPHQL_ID_SALT=
